body{
    margin:0px;
    background-color:#2E2E2E;
    color:#fff;
}
h1{
    font-family: 'Grandstander', cursive, Arial;
    font-size:2em;
}
table{
    margin:30px 0;
    padding:0;
}
i{
    cursor:pointer;
}
tr{
    height:80px;
}
tr:hover{
    cursor:pointer;
}
td{
    border-right:2px solid;
    border-bottom:2px solid;
    width:80px;
}
td:last-child{
    border-right:0;
}
tr:last-child td{
    border-bottom:0;
}

#container{
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content:center;
    align-items:center;
}
#tabuleiro, #menu{
    display:none;
}
#menu{
    margin:10px 0 50px 0;
    flex-direction:column;
    padding:0 15px;
    font-size:0.8em;
    font-family:Arial;
}
.icon{
    margin-top:20px;
    display:flex;
    flex-direction:row-reverse;
}
.marcaX{
    background-image:url('../img/X.png');
    background-size:contain;
    background-repeat:no-repeat;
    cursor:default;
}
.marcaO{
    background-image:url('../img/O.png');
    background-size:contain;
    background-repeat:no-repeat;
    cursor:default;
}
.botao{
    display:flex;
    background-color:#006900;
    padding:10px;
    border:1px solid gray;
    cursor:pointer;
    color:#fff;
    align-items:center;
    text-align:center;
    font-family: 'Grandstander', cursive, Arial;
}
.botao:hover{
    background-color:#009100;
}